[credential]
	helper = store
[init]
	defaultBranch = main
[pull]
	ff = only
[core]
	excludesFile = /home/callum/.gitignore_global
[includeIf "gitdir:~/repos/work/"]
    path = ~/repos/work/.gitconfig
[includeIf "gitdir:~/repos/personal/"]
    path = ~/repos/personal/.gitconfig
